
.card {
    position: relative;
    display: inline;
    float: left;
    width: 312px;
    height: 552px;
    border: 1px solid #D58C51;
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
}

.card_preview {
    display: flex;
    margin: 43px auto 31px;
}

.card_title {
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
    padding: 0 27px 13px 21px;
    margin: 0 auto;
}

.card_description {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    padding: 0 27px 13px 21px;
    margin: 0 auto;
}

.card_price {
    position: absolute;
    bottom: 36px;
    left: 21px;
    color: #FFFFFF;
}

.card_plus {
    display:inline-block;
    width:30px;
    height:30px;
    background:
        linear-gradient(#fff,#fff),
        linear-gradient(#fff,#fff),
        #000;
    background-position:center;
    background-size: 50% 2px,2px 50%; 
    background-repeat:no-repeat;
    border:1px solid #FFFFFF; 
    border-radius:50%;
    position: absolute;
    bottom: 36px;
    right: 32px;
    cursor: pointer;
}
