body {
    width: 100vw;
    height:calc(100vh–173px);
    background-color: #161516;
}

.basket_header {
    display: flex;
    padding: 53px 385px;
    justify-content: center;
    gap: 63px;
}

.basket_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    color: #FFFFFF;
}

.basket_btn {
    background-color: #161516;
    border-radius:50%;
    border: 1px solid #D58C51; 
    width:32px;
    height:32px;
    cursor: pointer;
}
