
.card {
    box-sizing: border-box;
    width: 312px;
    height: 552px;
    border: 1px solid #D58C51;
    padding: 40px 20px;
}

.card:hover > .wrapper >.text {
    color:#D58C51;
}

.card:hover > .text {
    color:#D58C51;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

.title {
    margin: 31px auto 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}


.description {
    margin: 13px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.wrapper {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;

}

.price {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.add-to-cart-button {
    margin: auto 0;
    display:inline-block;
    border-radius:50%;
    border:1px solid #FFFFFF; 
    width:30px;
    height:30px;
    cursor: pointer;
    background: #000;
    background-position:center;
}

.card:hover > .add-to-cart-button {
    color:#D58C51;
}

.card:hover > .txt >.text {
    color:#D58C51;
}

.txt {
    height: 75px;
}